[submodule "external-projects/java-string-similarity"]
	path = external-projects/java-string-similarity
	url = https://github.com/tdebatty/java-string-similarity.git
[submodule "external-projects/commons-csv"]
	path = external-projects/commons-csv
	url = https://github.com/apache/commons-csv.git
[submodule "external-projects/commons-text"]
	path = external-projects/commons-text
	url = https://github.com/apache/commons-text.git
[submodule "external-projects/saas-unificado"]
	path = external-projects/saas-unificado
	url = https://github.com/lucasPereira/saas-unificado.git
	branch = roza
[submodule "external-projects/commons-math"]
	path = external-projects/commons-math
	url = https://github.com/apache/commons-math.git
[submodule "external-projects/jfreechart"]
	path = external-projects/jfreechart
	url = https://github.com/jfree/jfreechart.git
